
nav{
    margin-bottom: 2em;
}

.articleContent{
    padding: 1em;
}

.save-btn{
    margin-left: 2px;
}

.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}


.front-word{
  font-size: 2em;
  text-align: center;
}

.flashcards{
  transform-style: preserve-3d;
  transform: all 0.5s ease;
}

.card-front{
  backface-visibility: hidden;
  text-align: left;
}

.card-back{
  
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.flashcards:hover{
  transform: rotateY(180deg);
}
