
nav{
    margin-bottom: 2em;
}

.articleContent{
    padding: 1em;
}

.save-btn{
    margin-left: 2px;
}

.visible {
  visibility: visible !important;
}
.invisible {
  visibility: hidden !important;
}



body{
  background-image: url('map4.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.locations {
  align-content: center;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.on_Location {
  padding:20px 0px 0px 40px;
  position: fixed;
}