
nav{
    margin-bottom: 2em;
}

#navbarText {
  color: white;
}

.articleContent{
    padding: 1em;
}

.save-btn{
    margin-left: 2px;
    margin-bottom: 1em;
}

.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden !important;
}


body{
 /* font-family: 'Open Sans', sans-serif; */
  background-color: #ebe7c7;
  font-family: 'Merriweather Sans', sans-serif;
}

.masonry { 
  column-count: 3;
  column-gap: 5px;
}

.item {
  position: relative;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  /*margin: 0 0 1em; */
  /*margin: 0 1rem 1rem 0; */
  width: 98%;
  left: 1%;
  margin: 0 10px 20px 0; 
  border-radius: 0px; 
  padding: 13px;
  
} 

.item
{
  position: relative;
}
.item:before, .item:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.item:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}


.titletext {
  color: black;
  font-weight: bold; 
  font-family: 'Merriweather Sans', sans-serif;
}

.datetext {
  color:#717C89;
  font-size: 10pt;
  font-family: 'Open Sans', sans-serif;
}

.summarytext {
  font-size: 10pt;
  color: #717C89;
  font-family: 'Open Sans', sans-serif;
}


.linkbutton {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: #8AA2A9;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  background-color: white;
  border: 2px solid #8AA2A9;
  margin-left: 45px; 
}
#background {
  background-color: white;
}

.linkbutton:hover {
  background-color:#8AA2A9;
  color: white;
}

.readbutton{
  background-color:white;
  border: 2px solid #8AA2A9;
  color: #8AA2A9;
}

.readbutton:hover {
  background-color:#8AA2A9;
  color: white;
}
.sidenav {
  width: 130px;
  margin-top: 80px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  background-color: #2196F3;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1pt;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.front-word{
  font-size: 2em;
  text-align: center;
}

.flashcards{
  transform-style: preserve-3d;
  transform: all 0.5s ease;
}

.card-front{
  backface-visibility: hidden;
  text-align: left;
}

.card-back{
  
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.flashcards:hover{
  transform: rotateY(180deg);
}
  

body {
  /* background-image: url('map4.jpg'); */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.locations {
  align-content: center;
}

.continent-button {
  color: white;
  background-color: rgb(117, 111, 111);
  border: black;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.88);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 46%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.on_Location {
  padding:80px 0px 0px 10px;
  position: fixed;
}

.amPNG {
  width: 320px;
}

.collapseBorder {
  border: none;
  color:#717C89;
}

a.navbar-brand {
  color: white;
}

.topBorder{
  border-top: black;
}

.urltext{
  color:#717C89;
}

#main_text {
  color: black;
}

#delete_article {
  margin-top: 10px;
  margin-right: 10px;
}


#dict-button {
  border-color: #ffffff;
  color: white;
}

#dict-button:hover {
  background-color: white;
  color: black;
}

#saveVocab {
  background-color: grey;
  color:white;
}