
nav{
    margin-bottom: 2em;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:gold;
}

nav ul li {
  float: right;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.5em 0.5em;
  text-decoration:underline;
  background-color:orange;
}

nav ul li a:hover {
  background-color: #111;
}
#dictionary{
    position:absolute;
    top: 3.2em;
    right: 20vw;
    min-width: 80px ;
    min-height: 60px;
    border: 3px solid burlywood;
    padding: 0.5em;
    background-color: antiquewhite;
    margin-bottom: 0.2em;
}

#dict-box{
    margin-bottom: 1em;
}

.articleContent{
    padding: 1em;
}

.save-btn{
    margin-left: 2px;
}