<nav>
        <ul>
            <li><a href="/archive" id="nav-archive">My Archive</a></li>
        </ul>
    </nav>
    <div id="dictionary" align='center'>Dictionary<br>
        <form>
            <input type="text" id='dict-box'><br>
            <button type="button" id="reset-button">Reset</button>
            <button type="submit" id="dict-button">See Definition</button>
        </form>
        <div id='word-meaning' align='left'></div>
    </div>
    <button id='asia' class='continent-button'>Asia Pacific</button>
    <button id='africa' class='continent-button'>Africa</button>
    <button id='europe' class='continent-button'>Europe</button>
    <button id='middle_east' class='continent-button'>Middle East</button>
    <button id='americas' class='continent-button'>Americas</button>
    <button id='australia' class='continent-button'>Australia</button>

    <div id='article-section'></div>