<!DOCTYPE html>
<html>

<head>
    <title>Learn English from World News</title>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    
</head>

<body>
    {{{body}}}
<script src='app.js'></script>
</body>

</html>